<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col">
				<h3 class="text-primary text-center">Facebook Lead Genarator</h3>
			</div>
		</div>
		<div class="row mt-11">
			<div class="col">
				<form action="search_result.html">
					<div class="form-inline">
						<input type="text" name="search_query" class="form-control w-73 float-left search-bar" placeholder="Search">
						<select class="form-control w-24 sel-type" name="search_type">
							<option value="0" selected>Select Type</option>
							<option value="1">Group</option>
							<option value="2">Pages</option>
						</select>
					</div>
					<span class="text-danger"></span>
					<div class="form-group mt-4">
						<button class="btn btn-primary search-btn">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>