<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col">
				<h3 class="text-primary text-center">Group Members</h3>
			</div>
		</div>
		<div class="row w-100">
			<div class="col" style="border-bottom: 1px solid #007bff; width: 80%; margin-left: 20px; margin-top: 15px;">
				<button class="btn btn-success export-btn float-right mb-3">Export to csv</button>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">NAME</th>
							<th scope="col">UID</th>
							<th scope="col">CITY</th>
							<th scope="col">PHONE</th>
							<th scope="col">EMAIL</th>
							<th scope="col">GENDER</th>
						</tr>
					</thead>
					<tbody class="dmp_user">
						
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/user.js"></script>
</body>
</html>